@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat"), url("Montserrat-VariableFont_wght.ttf"), format(ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
  letter-spacing: 1px;
  background-color: #f4f4f4;
}

nav {
  width: 100vw;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav p {
  color: white;
  width: 50px;
  height: 42px;
}

nav p::after {
  content: ".";
  color: #18ba51;
}

section {
  margin: auto;
}

.section1 {
  max-width: 1200px;
  height: fit-content;
  margin-top: 120px;
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section1 h1 {
  font-size: 50px;
  font-size: 72px;
  font-weight: 700;
  line-height: 87.77px;
  color: #303030;
}

.section1 p,
.roadmap p,
.section3 p {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.26px;
  color: #ababab;
}

.photos {
  display: flex;
  gap: 21px;
  margin-top: 80px;
}

.photo1,
.photo2,
.photo3,
.photo4 {
  background-size: cover;
  background-position: center;
  width: 284px;
  height: 400px;
  border-radius: 12px;
}

.photo1 {
  background-image: url("https://s3-alpha-sig.figma.com/img/e6c0/475a/e5f3754156361cae2fb8faad8abcd5ae?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XhOsTVQsh30i1Ql2HMevc1luRVdZJNMgfqX78QP1ntWhu-eBpr4~owZkYawmjmBlxmokBPXzKxoyP6gRQqGR4WQ6~dMYwGcstx9smaUyR~128dT~S5cEPByoOju71oXyg4MZAh0H8mtyv6WGmgdEdRn2PE-XEjz2~l9rz6QjNiQ6d1SyUItoFj7Fdgb3To6HTwQoids7dlEpUJKcINF~KP0ZFvHKqakuRms8EgkOdI1LEpv2iXCW-6Hn3nBmumldCbWQCCoLHEMqaa3KAx9Yg6BFkJ~cGj-D1GJn0UyLQpx~SRrpkHgG4u9pYEnrjvRE3NHN-g~OISZiKP~hkk7wAA_");
}

.photo2 {
  background-image: url("https://s3-alpha-sig.figma.com/img/e124/d31b/4b7edc8a8926233d613c437affc8b621?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=T54bSFNKndDPVsR5qmnJLfqF4bP-rwW2EzK5Tc~olhuUgwv7p0RttNRc8Cang~TsjaGvGV~QxQUPiATjh6xUl0Nco6~YTRGBQghPSTedkGPORmn6WVmsvfIxf1JnK7iV2K9Ua7cQFos11axzqfdahr3oyqoCcT5H6HFzt5X1fm5P7KwI1WrKf40aWawn3b~hvHBjLtSKylLtTmpItlas23elyeNIKk~9vdAJCZCgihpW5GjWLlkHKNWbAKLKRxsOskJDWN1OL5YiqP0rgS-dKUN9~fD1CCQfBoWcr7d2GJCls9AUXBAo1n2VoS6rcKUB3RVURDPzA8UwR3M2MqQNLA__");
}

.photo3 {
  background-image: url("https://s3-alpha-sig.figma.com/img/9411/7af0/fae2d95b54ef6842a38934433c1d99d7?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=daea7PyyOvLWhV5elb-idaHCQ8TfRhROHMEao5SZ1gV75yUVimbCefkHrALy1vLb0xuM1ifP-gtuoyaVuGxj5gRpZgQkJeF0zQQOwo7PYG83t~mnBI48kGBjt3vGH0myRuwI-WhNG50q4Z~Ud39Of6PBicirhTjNuLSgfPxvnyZwJ2F0Hh2OSBSqi0cSVuUFw9GAWTQLAHwet1hh-OR2Fk~BtjpsWOU-AWCwZ9OGNzwURMjya2XmZ9Uq8sVqc99maUjwah728O92K~q4HYuPhEgE3jWACBH1p6yTvok-u8g8iBiuWiP2-PiMB22OTDKxgT5TGvVS7rXYNT4ZLmasBw__");
}

.photo4 {
  background-image: url("https://s3-alpha-sig.figma.com/img/7340/0fdc/225faf76312b30bf0e8b5242e2ff063d?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=CB4l~GIT~gDaNc7ZF2Tc6itfb5D4mVQtzAOZkbTNkvSRaM7wF2~IK7o2~SXx3pimFHJ57y7TsyHTSMk7AtisPTC384qrOAoSkWrWp22fSwpUS~EOHfNHeU24nUtDANY52rcaF6BQkcVsm0Nst8Umlrd4C9dFk9eIHkRKR8~SL-QbFzvZiU30-G18KBEevBgmXZcd7aden8I9Sv8GjlUM19BOcQEeXe1NtF5QAM4vcQEtrodAsHBuuoBkIfLt1KRvc8C8AKynAwQpoMrw3ATU2x5zYsIVQAVMYpdhUIgTFdQ6HqOd2lzRb4HxMtuSJiNATDIpKbDFQcGEEZH0LXDw4A__");
}

.photo1:hover,
.photo2:hover,
.photo3:hover,
.photo4:hover {
  transition: 0.5s ease;
  background-size: cover;
  background-position: center;
  width: 284px;
  height: 400px;
  border-radius: 12px;
  transform: scale(1.1, 1.1);
}

.photo1:hover {
  opacity: 1;
  background-image: url("https://s3-alpha-sig.figma.com/img/d2b9/7a2b/78cccaa3f6ec592813187ea25729681e?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XJV9uNZU79a8OqkLzNR6KOmulL6wmeDmXTe5E-iOv7n9IycHHOrwlNIK9c-P9l70cY9hFkB1exrK9IvhFf6tgPOduRQ3CvrU88jKXwqXMPfnvXXwbezKd92kT4O5qmSy8-OeAOODonNFqlmelGnJAe20XiG8m-6OUDE3QzBk2V8LxTIPyQq9APrs4-ChCNeynZzqkrXhHYh-LmhrvOBI48-~GHd9Ndjj1XFgj8b7Au1-OpP71k56dpN0nkvDCKzs3beqt6JgHfv~P18K6cdkgiOC1u8p-c0uXqzLZ0aD7ZMnG9Q3fbISIB-IavWyiCa02lfRybJbFyNL-0Pag6VFcw__");
}

.photo2:hover {
  opacity: 1;
  background-image: url("https://s3-alpha-sig.figma.com/img/36c1/1616/98ff94d4c5f5c10f8e675b44cd63d2cf?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=q3U~MjPS8uD0VocNg-mGxzebFEUwJ03YMUQOSPIGECXgHAYTOetNjdMBhfvQTd4zhiQIJ9Wg6rl5K5Wpl4Gapn3S9nS2pGE8I2L2e0cmEf8O32XH5NunnjVBUK5cTn5QsC-CNptzN6DQT90KUibMqOMwgRa9o7szvQi-zBZXRn6X5XV1h8Cp~cN31ZavpXIwVUpfd8jmLuPEgZ4RR0Jr6GEmDhzmnLAIyUZAwuCXL1mYG75jPkuch~zoKAT4tCUzIuk1vbkZGnOLxUYwpFA-hsss378dtTV-PhfpDWPrdidm628Bjouqe4r02dRw15cS9WW15TuPAAG9fJ-JloUkqA__");
}

.photo3:hover {
  opacity: 1;
  background-image: url("https://s3-alpha-sig.figma.com/img/2a5f/56d0/b0fcdd92a44f32b79a0de512209bb06b?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ksDuPcJj5z~5MAET8iDjANHBxduXV8FbGO-pzSysOKVa5Blj2Q9a0v5vWFZ6Vo40jfKmgKIOVnG8ZgSH7K3drfbqXksLfLgBLMWBQPJ2S0eNguU6zsaOnnfSRfZtaQfWFvnXA5hJ96nfc1KE3Bkz0sAsJe6kQUKQi6wq5l1x7cgezNeenrikF9OfhS49-EFgFf24LcxuYPS5cwPgDbde96-6WtlbYvl67AnCQqI19Q~eCJbVuLpc14EPNcsUOqqAHDS5fhKgwfrzO6X6Vb6tpIrD3FytlI~jWeL3ivsNIy1HSEdoZaaZynaUHGg5LujpDKLo4-JjpS9OONfCHUDFvg__");
}

.photo4:hover {
  opacity: 1;
  background-image: url("https://s3-alpha-sig.figma.com/img/a4d6/0416/d42b9ac033e9ea4869926a93ad64d227?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=lwREI2TpshdcsZ08VRsagW8Fmnt2yhIy9oOsu98c1ccNx7eJXb878m-3zdtjWH0JXHci6jJ32C~6v1sLYzKn-Z7LD2auYDVBTZPUtIOeu3KNudAmnj2wCPFvmpV9oXLEs0wbPjl26ngA4AuQV5es07oAmegkroUCjCoxQ~nadK3ucxTtUU9AOa1jG2Sc2chMmjonlPagXdG9hMBlBgBZEsyA49TN0ma2zbUCqaIehVqDhuxnnyKulgEB08kZ3qsdFo-6ZyCvilpW6o1t1k0wYh1fqAbHayfVmJqxMBlq8llYscA3e84ftvC4FT364SLsVPSmOXL6q18qgP1NhcNBPg__");
}

.section2 {
  max-width: 1200px;
  height: fit-content;
  margin-top: 240px;
  display: flex;
  gap: 150px;
}

.roadmap {
  max-width: 358px;
  height: 796px;
}

h2 {
  font-size: 45px;
  font-weight: 700;
  line-height: 58.51px;
  text-align: left;
  color: #303030;
  margin-top: 10px;
}

.places {
  display: flex;
  margin-top: 80px;
  height: 559px;
  justify-content: space-between;
  position: relative;
}

.line {
  border: 1px dashed black;
  position: absolute;
  left: 27px;
  height: 559px;
  z-index: -1;
}

.day {
  display: flex;
  flex-direction: column;
  max-width: 56px;
  justify-content: space-between;
}

.d1 {
  width: 56px;
  height: 56px;
  border-radius: 40px;
  background-color: #1d1f24;
  text-align: center;
  padding-top: 18px;
}

.day p {
  color: #16a94a;
  font-size: 17px;
  font-weight: 700;
  line-height: 20.72px;
}

.destinations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0px 10px 0;
}

.destinations h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
}

.destinations p {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
}

.map {
  background-image: url("./Group\ 26.png");
  width: 692px;
  height: 845px;
  border-radius: 12px;
}

.section3 {
  max-width: 1200px;
  height: fit-content;
  margin-top: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.section3 h2 {
  text-align: center;
}

.boxes {
  display: flex;
  margin-top: 50px;
  gap: 20px;
}

.box1:hover {
  opacity: 1;
  border: 2px solid #18ba51;
  transform: scale(1.1, 1.1);
  transition: all 0.5s ease;
}

.box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 285px;
  height: 370px;
  gap: 20px;
  border-radius: 24px;
  position: relative;
  background-color: white;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.26px;
  margin: 40px 0 0 0;
}

li {
  font-weight: 500;
  font-size: 20px;
  line-height: 24.38px;
  color: #777777;
  margin: 5px 0 15px 20px;
}

.box1 p {
  width: 105px;
  height: 39px;
  color: #303030;
  position: absolute;
  right: 0;
  bottom: 30px;
}

footer {
  margin-top: 240px;
  width: 100%;
}

.order {
  height: 393px;
  background-color: #171717;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h4 {
  color: white;
  font-size: 32px;
  font-weight: 700;
  line-height: 39.01px;
}

.btn {
  background-color: #18ba51;
  color: white;
  width: 130px;
  height: 40px;
  margin-top: 10px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
}

.btn:active {
  background-color: gold;
}

.contact {
  height: 228px;
  background-color: #101010;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact h5 {
  color: white;
  font-size: 28px;
  font-weight: 700;
  line-height: 34.13px;
}

.highlight:hover {
  transform: rotateY(360deg);
  transition-duration: 1s;
}

.fb,
.insta {
  width: 167px;
  height: 44px;
  border-radius: 4px;
  background-color: #303030;
  border: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.94px;
  text-align: center;
  color: white;
  margin-right: 20px;
}

.buttons a {
  text-decoration: none;
  color: white;
}

.fb:focus,
.insta:focus {
  background-color: #18ba51;
}
